<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>CFBundleExecutable</key>
<string>MineBot</string>

<key>CFBundleIdentifier</key>
<string>com.minebot.app</string>

<key>CFBundleName</key>
<string>MineBot</string>

<key>CFBundleDisplayName</key>
<string>MineBot</string>

<key>CFBundleVersion</key>
<string>12</string>

<key>CFBundleShortVersionString</key>
<string>2.1</string>

<key>CFBundlePackageType</key>
<string>APPL</string>

<key>LSRequiresIPhoneOS</key>
<true/>

<key>UILaunchScreen</key>
<dict/>

<key>UIApplicationSupportsIndirectInputEvents</key>
<true/>

</dict>
</plist>
